<div class='container'>
    <div class='jumbotron text-center bkg-white'>
        <h2 class='display-4'>Eat-Da-Burger</h2>
        <img src='assets/img/burger.jpg'>
    </div>
</div>
<div class='row justify-content-center'>
    <div class='col-sm-3'>
        <ul>
            
        {{#each burger_data}}
        {{#unless this.devoured}}
            <li>
                <form action="/update" method="POST">
                    <label>({{this.id}})  {{this.burger_name}}</label>
                    <button type="submit" class="devour-button" name="burger_id" value={{this.id}}>DEVOUR</button>
                </form>
            </li>
        {{/unless}}
		{{/each}}

    </div>
    <div class='col-sm-2'>
        <h4>DEVOURED!</h4></br>

        {{#each burger_data}}
        {{#if this.devoured}}
            <p>({{this.id}})  {{this.burger_name}}</p>
        {{/if}}
        {{/each}}

    </div>
</div>
<div class='row justify-content-center text-center'>
    <div class='col-sm-3'>
        <h4>Type the name of a burger you want to eat:</h4></br>
        <form action="/add" method="POST">
            <input id="new-burger" type="text" size="50" name="burger_name" value=""></input>
            <button class="submit-button">SUBMIT</button>
        </form>
    </div>
</div>